body {
  background-color: #011425;
  margin: 0;
  padding: 0;
}
#header {
  display: flex;
  position: relative;
}

.logo {
  text-align: end;
  font-size: 30px;
  background-color: #952525;
  height: 120px;
  width: 17%;
  font-family: "Lato", sans-serif;
  display: inline-block;
  color: white;
  text-align: end;
  align-items: flex-end;
}
.redbar {
  background-color: #952525;
  width: 523px;
  height: 3px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.jun {
  position: absolute;
  right: 1590px;
  bottom: -11px;
  font-size: 80px;
}
.junn {
  position: absolute;
  right: 1540px;
  bottom: 2px;
  font-size: 50px;
}
.nav {
  background-color: #233a4f;
  width: 100%;
  height: 120px;
  display: inline-block;
  text-align: end;
}
.menuNav {
  color: white;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
.nav li {
  float: right;
  padding-top: 50px;
  margin: 40px;
  bottom: 2px;
}
.aboutme {
  position: relative;
  color: white;
  font-family: "Oxygen", sans-serif;
  bottom: 100px;
  font-size: 33px;
  width: 750px;
}

.picture {
  position: relative;
  top: 60px;
  left: 150px;
}

#first {
  left: 50%;
  top: -745px;
}
#second {
  left: 50%;
  top: -680px;
}
#third {
  left: 50%;
  top: -615px;
}
